@use 'sass:math' as math;
@use 'sass:color';
$namespace: el;
$prefix: --#{$namespace};

@mixin createColors($name, $color, $is-dark: false) {
  #{$prefix}-#{$name}: #{$color};

  $light-color: if($is-dark, #000, #fff);
  $dark-color: if($is-dark, #fff, #000);

  @each $i in (3, 5, 7, 8, 9) {
    #{$prefix}-#{$name}-light-#{$i}: #{color.mix(
        $light-color,
        $color,
        math.percentage(math.div($i, 10))
      )};
  }
  #{$prefix}-#{$name}-dark-2: #{color.mix($dark-color, $color, 20%)};
}
