@use './_mixin' as *;

$is-dark: false;
$mode: ':root[data-scheme="argon"]';

#{$mode} {
  color-scheme: light;
  @include defaultThemeVars();

  $color-primary: #5e72e4;
  $color-success: #2dce89;
  $color-warning: #fb6340;
  $color-danger: #f5365c;
  $color-info: #11cdef;

  @include createColors('color-primary', $color-primary, $is-dark);
  @include createColors('color-success', $color-success, $is-dark);
  @include createColors('color-warning', $color-warning, $is-dark);
  @include createColors('color-danger', $color-danger, $is-dark);
  @include createColors('color-info', $color-info, $is-dark);

  #{$prefix}-color-primary-rgb: 94, 114, 228;
  #{$prefix}-color-success-rgb: 45, 206, 137;
  #{$prefix}-color-warning-rgb: 251, 99, 64;
  #{$prefix}-color-danger-rgb: 245, 54, 92;
  #{$prefix}-color-error-rgb: 245, 54, 92;
  #{$prefix}-color-info-rgb: 17, 205, 239;

  #{$prefix}-bg-color: #ffffff;
  #{$prefix}-bg-color-page: #f5f7f8;
  #{$prefix}-bg-color-overlay: #ffffff;
  #{$prefix}-text-color-primary: #344767;
  #{$prefix}-text-color-regular: #67748e;
  #{$prefix}-text-color-secondary: #8392ab;
  #{$prefix}-text-color-placeholder: #adb5bd;
  #{$prefix}-text-color-disabled: #ced4da;
  #{$prefix}-border-color: #e9ecef;
  #{$prefix}-border-color-light: #e9ecef;
  #{$prefix}-border-color-lighter: #f6f9fc;
  #{$prefix}-border-color-extra-light: #f8f9fe;
  #{$prefix}-border-color-dark: #dee2e6;
  #{$prefix}-border-color-darker: #ced4da;
  #{$prefix}-fill-color: #e9ecef;
  #{$prefix}-fill-color-light: #f6f9fc;
  #{$prefix}-fill-color-lighter: #f8f9fe;
  #{$prefix}-fill-color-extra-light: #fcfdfe;
  #{$prefix}-fill-color-dark: #e9ecef;
  #{$prefix}-fill-color-darker: #dee2e6;
  #{$prefix}-fill-color-blank: #ffffff;
  #{$prefix}-border-radius-base: 16px;
  #{$prefix}-border-radius-small: 8px;
  #{$prefix}-border-radius-round: 24px;
  #{$prefix}-font-family:
    'Open Sans', 'Microsoft YaHei', '微软雅黑', 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  #{$prefix}-box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  #{$prefix}-box-shadow-light: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  #{$prefix}-box-shadow-lighter: 0 1px 3px rgba(50, 50, 93, 0.08);
  #{$prefix}-box-shadow-dark:
    0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
  #{$prefix}-disabled-bg-color: var(#{$prefix}-fill-color-light);
  #{$prefix}-disabled-text-color: var(#{$prefix}-text-color-placeholder);
  #{$prefix}-disabled-border-color: var(#{$prefix}-border-color-light);
  #{$prefix}-overlay-color: rgba(23, 43, 77, 0.8);
  #{$prefix}-overlay-color-light: rgba(23, 43, 77, 0.7);
  #{$prefix}-overlay-color-lighter: rgba(23, 43, 77, 0.5);
  #{$prefix}-mask-color: rgba(255, 255, 255, 0.9);
  #{$prefix}-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  #{$prefix}-border-width: 1px;
  #{$prefix}-border-style: solid;
  #{$prefix}-border-color-hover: var(#{$prefix}-text-color-disabled);
  #{$prefix}-border: var(#{$prefix}-border-width) var(#{$prefix}-border-style) var(#{$prefix}-border-color);
  #{$prefix}-svg-monochrome-grey: var(#{$prefix}-border-color);
  #{$prefix}-menu-item-height: 54px;
  #{$prefix}-menu-sub-item-height: 42px;
  #{$prefix}-menu-text-color: #67748e;
  #{$prefix}-menu-hover-text-color: #344767;
  #{$prefix}-menu-bg-color: transparent;
  #{$prefix}-menu-hover-bg-color: #f6f9fc;
  #{$prefix}-menu-active-color: #344767;
  --ze-banner: #{$color-primary};
  --ze-banner-gradient: linear-gradient(310deg, #5e72e4, #825ee4);
  --ze-sidenav-radius: 12px;
}
