@use './_mixin' as *;

$is-dark: true;
$mode: ':root[data-theme="dark"]';

#{$mode} {
  color-scheme: dark;
  @include defaultThemeVars();

  $color-primary: #409eff;
  $color-success: #67c23a;
  $color-warning: #e6a23c;
  $color-danger: #f56c6c;
  $color-info: #909399;

  @include createColors('color-primary', $color-primary, $is-dark);
  @include createColors('color-success', $color-success, $is-dark);
  @include createColors('color-warning', $color-warning, $is-dark);
  @include createColors('color-danger', $color-danger, $is-dark);
  @include createColors('color-info', $color-info, $is-dark);

  #{$prefix}-bg-color: #141414;
  #{$prefix}-bg-color-page: #0a0a0a;
  #{$prefix}-bg-color-overlay: #1d1e1f;
  #{$prefix}-text-color-primary: #e5eaf3;
  #{$prefix}-text-color-regular: #cfd3dc;
  #{$prefix}-text-color-secondary: #a3a6ad;
  #{$prefix}-text-color-placeholder: #8d9095;
  #{$prefix}-text-color-disabled: #6c6e72;
  #{$prefix}-border-color: #4c4d4f;
  #{$prefix}-border-color-light: #414243;
  #{$prefix}-border-color-lighter: #363637;
  #{$prefix}-border-color-extra-light: #2b2b2c;
  #{$prefix}-border-color-dark: #58585b;
  #{$prefix}-border-color-darker: #636466;
  #{$prefix}-fill-color: #303030;
  #{$prefix}-fill-color-light: #262727;
  #{$prefix}-fill-color-lighter: #1d1d1d;
  #{$prefix}-fill-color-extra-light: #191919;
  #{$prefix}-fill-color-dark: #39393a;
  #{$prefix}-fill-color-darker: #424243;
  #{$prefix}-fill-color-blank: transparent;
  #{$prefix}-mask-color: rgba(0, 0, 0, 0.8);
  #{$prefix}-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
